* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light_blue: #D0D6F9;
    --white: #FFFFFF;
    --dark_navy: #0B0D17
}

html, body {
    height: 100%;
    /* overflow-x: hidden; */
}

#__next {
    height: 100%;
}

/* homepage css */
.main-container {
    height: auto;
    min-height: 100%;
    background: url('../assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.main-container main {
    /* height: 676px; */
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container h4 {
    color: var(--light_blue);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 24px;
}

.main-container h1 {
    color: var(--white);
    text-align: center;
    font-size: 80px;
    margin-bottom: 24px;
}

.main-container p {
    color: var(--light_blue);
    text-align: center;
    font-size: 15px;
    line-height: 27px;
}

.main-container .button {
    height: 334px;
    width: 100%;
    display: flex;
}

.main-container .button a {
    text-decoration: none;
    background-color: var(--white);
    width: 144px;
    height: 144px;
    display: block;
    border-radius: 50%;
    padding: 20px;
    position: relative;
    margin: auto;
    transition: outline 0.4s ease-in-out;
    outline: 88px solid transparent;
}

.main-container .button a:hover {
    outline: 88px solid rgba(255, 255, 255, 10%);
}

.main-container .button a:hover h3 {
    opacity: 50%;
}

.main-container .button a h3 {
    font-size: 18px;
    color: var(--dark_navy);
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* destination css */
.des-container {
    background: url('../assets/destination/background-destination-mobile.jpg');
    height: auto;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.des-container main {
    padding: 24px;
    text-align: center;
}

.des-container h4, .crew-container h4, .tech-container h4 {
    color: var(--white);
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 16px;
    margin-bottom: 24px;
}

.des-container h4 span, .crew-container h4 span, .tech-container h4 span {
    font-weight: 700;
    margin-right: 24px;
    color: rgba(255, 255, 255, 20%);
}

.des-container .image {
    height: 203px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.des-container .text {
    margin-bottom: 24px;
}

.des-container .text h2 {
    font-size: 56px;
    color: var(--white);
    margin-bottom: 16px;
    text-transform: uppercase;
}

.des-container .text p {
    font-size: 15px;
    color: var(--light_blue);
    line-height: 27px;
}

.des-container .line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 25%);
    margin-bottom: 24px;
}

.des-container .distance {
    margin-bottom: 24px;
}

.des-container h5 {
    color: var(--light_blue);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.des-container .distance h4, .des-container .travel-time h4 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/* crew css */
.crew-container {
    background: url('../assets/crew/background-crew-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100%;
    background-attachment: fixed;
    position: relative;
}

.crew-container main {
    padding: 24px;
    text-align: center;
}

.crew-container .explanation {
    margin-bottom: 32px;
}

.crew-container .info {
    height: 245px;
    margin-bottom: 24px;
}

.crew-container .name {
    margin-bottom: 24px;
}

.crew-container .name h5 {
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(255, 255, 255, 50%);
    font-weight: 400;
    letter-spacing: 0;
    padding-bottom: 8px;
}

.crew-container .name h1 {
    font-size: 24px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
}

.crew-container .description p {
    color: var(--light_blue);
    line-height: 27px;
    font-weight: 400;
}

.crew-pagination a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.crew-container .image {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crew-container .image img {
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 86%, rgba(255, 255, 255, 0));
}

/* technology css */
.tech-container {
    background: url('../assets/technology/background-technology-mobile.jpg');
    min-height: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.tech-container main {
    text-align: center;
    padding: 24px;
    padding-bottom: 48px;
    overflow-y: hidden;
}

.tech-container .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 322px;
    padding-top: 64px;
    margin-bottom: 32px;
}

.mask {
    width: 768px;
    height: 258px;
    mask-image: url('../../public/assets/technology/image-launch-vehicle-portrait.jpg');
    mask-repeat: no-repeat;
}

.img-wrapper {
    height: 376px;
    width: 375px;
    margin: auto;
}

.tech-container .image img {
    /* width: 373px; */
    width: 100%;
    margin: 0 -24px;
    position: relative;
    top: -118px;
}

.tech-container .image.spaceport img {
    top: -79px;
    width: 382px;
}

.tech-container .image.space-capsule img {
    top: -22px;
    height: 318px;
}

.space-capsule .img-wrapper {
    margin: auto;
}

.tech-pagination a.active h4 {
    color: black;
}

.tech-pagination a h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.pagination a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.tech-container .name {
    margin-bottom: 16px;
}

.tech-container .name h5 {
    color: rgba(255, 255, 255, 50%);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.tech-container .name h1 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 2px;
}

.tech-container .explanation p {
    color: var(--light_blue);
    font-size: 15px;
    line-height: 27px;
}

@media screen and (min-width: 768px) {

    /* homepage css -tablet view */
    .main-container {
        background-image: url('../assets/home/background-home-tablet.jpg');
    }

    .main-container main {
        padding: 128px 40px;
    }

    .main-container main .texts {
        width: 512px;
        margin-bottom: 48px;
    }

    .main-container h4 {
        font-size: 28px;
    }

    .main-container h1 {
        font-size: 144px;
    }

    .main-container p {
        font-size: 16px;
    }

    .main-container .button {
        width: 512px;
        height: 272px;
    }

    .main-container .button a {
        width: 272px;
        height: 272px;
    }

    .main-container .button a h3 {
        font-size: 32px;
    }

    /* destination css - tablet view */
    .des-container {
        background: url('../assets/destination/background-destination-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .des-container main {
        padding: 40px;
        text-align: center;
    }

    .des-container h4,
    .crew-container h4,
    .tech-container h4 {
        font-size: 20px;
        text-align: start;
    }

    .des-container .image {
        height: 384px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;
    }

    .des-container .image img {
        width: 300px;
        height: 300px;
    }

    .des-container .text {
        width: 514px;
        margin: auto;
        margin-bottom: 24px;
    }

    .des-container .text h2 {
        font-size: 80px;
    }

    .des-container .text p {
        font-size: 16px;
        color: var(--light_blue);
        line-height: 27px;
    }

    .des-container .line {
        width: 514px;
        margin: auto;
        margin-bottom: 24px;
    }

    .statistics {
        display: flex;
        width: 514px;
        margin: auto;
        justify-content: space-between;
    }

    .des-container .distance,
    .des-container .travel-time {
        width: 254px;
    }

    .des-container .distance h4,
    .des-container .travel-time h4 {
        text-align: center;
    }

    /* crew css - tablet view */
    .crew-container {
        background: url('../assets/crew/background-crew-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .crew-container main {
        padding: 40px;
        overflow-y: hidden;
    }

    .crew-container .name h5 {
        font-size: 24px;
        padding-bottom: 16px;
    }

    .crew-container .name h1 {
        font-size: 40px;
    }

    .crew-container .explanation {
        margin-bottom: 32px;
        width: 512px;
        height: 305px;
        margin: auto;
    }

    .crew-container .image {
        height: 463px;
        align-items: flex-start;
    }

    .crew-container .image img {
        height: 560px;
    }

    /* technology css - tablet view */
    .tech-container {
        background: url('../assets/technology/background-technology-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .tech-container main {
        padding: 40px;
        padding-bottom: 40px;
    }

    .tech-container .image {
        height: 421px;
    }

    .mask {
        width: 768px;
        height: 357px;
        mask-size: cover;
    }

    .img-wrapper {
        /* height: 768px; */
        width: 768px;
    }

    .tech-container .image img {
        width: 100%;
        /* top: -235px; */
        top: -210px;
        margin: 0 -40px;
    } 

    .tech-container .image.space-capsule img {
        top: 0;
        height: 357px;
        content: url('../../public/assets/technology/image-space-capsule-landscape.jpg');
    }

    .spaceport .img-wrapper {
        width: 768px;
    }

    .tech-container .image.spaceport img {
        top: 0;
        height: 356px;
        width: 768px;
        content: url('../../public/assets/technology/image-spaceport-landscape.jpg');
    }

    .tech-pagination a h4 {
        font-size: 24px;
    }

    .tech-container .explanation {
        width: 512px;
        margin: auto;
    }

    .tech-container .name h5 {
        font-size: 24px;
    }

    .tech-container .name h1 {
        font-size: 40px;
    }
    
    .tech-container .explanation p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {

    /* homepage css - desktop view */
    .main-container {
        background-image: url('../assets/home/background-home-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .main-container main {
        padding: 128px 0;
        flex-direction: row;
        justify-content: center;
        width: 1110px;
        height: calc(100% - 136px);
        margin: auto;
        align-items: flex-end;
    }

    .main-container main .texts {
        padding-bottom: 0;
    }

    .main-container p {
        font-size: 18px;
    }

    .main-container .button {
        justify-content: end;
    }

    .main-container .button a {
        margin: 0;
    }

    .main-container h4 {
        text-align: start;
    }

    .main-container h1 {
        text-align: start;
    }

    .main-container p {
        text-align: start;
    }

    /* destination css - desktop view */
    .des-container {
        background: url('../assets/destination/background-destination-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .des-container main,
    .crew-container main {
        padding: 48px 0;
    }

    .container {
        width: 1110px;
        margin: auto;
    }

    .des-container h4,
    .crew-container h4,
    .tech-container h4 {
        font-size: 28px;
    }

    .content {
        display: flex;
        justify-content: stretch;
    }

    .des-container .image {
        height: 734px;
        width: 539px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        flex-grow: 1;
    }

    .des-container .image img {
        width: 480px;
        height: 480px;
    }

    .des-container .explanation {
        text-justify: auto;
        text-align: start;
        flex-grow: 1;
        padding: 144px 0;
    }

    .des-container .text {
        width: 445px;
        margin-bottom: 40px;
    }

    .des-container .line {
        width: 445px;
        margin-bottom: 40px;
    }

    .statistics {
        width: 445px;
        margin: auto;
    }

    .des-container .distance,
    .des-container .travel-time {
        width: 210px;
    }

    .des-container .distance h4,
    .des-container .travel-time h4 {
        text-align: start;
    }

    /* crew css - desktop view */
    .crew-container {
        background: url('../assets/crew/background-crew-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .crew-container main {
        overflow-y: unset;
    }

    .crew-container .container {
        height: 792px;
    }

    .crew-container .content {
        justify-content: space-between;
    }

    .crew-container .explanation {
        min-width: 445px;
        width: 539px;
        height: 100%;
        margin: 0;
        text-align: start;
    }

    .crew-container .name h5 {
        font-size: 32px;
        padding-bottom: 16px;
    }

    .crew-container .name h1 {
        font-size: 56px;
    }

    .crew-container .description p {
        line-height: 32px;
        font-size: 18px;
    }

    .crew-container .info {
        height: 631px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .crew-container .image {
        height: 734px;
        align-items: center;
        justify-content: center;
    }

    .crew-container .image img {
        height: 676px;
    }

    .crew-container .image img.anoushe {
        height: 560px;
    }

    /* technology css - desktop view */
    .tech-container {
        background: url('../assets/technology/background-technology-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .tech-container main {
        padding: 48px 0;
        display: flex;
        justify-content: flex-end;
        text-align: start;
    }

    .tech-container .container {
        width: 1275px;
        margin: 0;
    }

    .tech-container .content {
        flex-direction: row-reverse;
        height: 734px;
        justify-content: space-between;
    }

    .tech-container .info {
        display: flex;
        min-width: 635px;
        height: 304px;
        align-self: center;
    }

    .tech-container .explanation {
        width: 491px;
    }

    .tech-container .name h5 {
        font-size: 32px;
    }

    .tech-container .name h1 {
        font-size: 56px;
    }

    .tech-container .explanation p {
        font-size: 18px;
    }

    .tech-container .image {
        width: 608px;
        height: 100%;
        padding: 0;
        margin-bottom: 0;
    }

    .mask {
        width: 100%;
        height: auto;
        margin-top: 27px;
    }

    .img-wrapper {
        height: 100%;
        width: 100%;
    }

    .tech-container .image img {
        width: 100%;
        height: 600px;
        top: -27px;
        margin: 0;
    }

    .tech-container .image.space-capsule img {
        height: 100%;
        content: url('../../public/assets/technology/image-space-capsule-portrait.jpg');
    }

    .space-capsule .mask {
        margin-top: 0;
    }
}